<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body>
<div>
    <div id="demo" class="template">
        <h1 class="template-head">List of github js repositories</h1>

        <div class="paginator-wrapper">
            <div class="paginator"></div>
        </div>

        <ol class="repo_list">
            <li class="repo_item repo_item-header">
                <span class="repo_item_col">🍪 Name</span>

                <span class="repo_item_col">🔗 Link</span>

                <span class="repo_item_col">⭐ Stars</span>

                <span class="repo_item_col">👀 Watchers</span>

                <span class="repo_item_col">😀 Owner</span>

                <span class="repo_item_col">🍴 Forks</span>

                <span class="repo_item_col">💬 Open issues</span>
            </li>
            <li v-for="repo in repos" class="repo_item">
                <span class="repo_item_col">{{ repo.name }}</span>

                <span class="repo_item_col repo_item_col--link"><a class="repo_item_link" :href="repo.html_url" :title="repo.html_url" target="_blank" class="commit">{{ repo.html_url }}</a></span>

                <span class="repo_item_col">{{ repo.stargazers_count }}</span>

                <span class="repo_item_col">{{ repo.watchers }}</span>

                <span class="repo_item_col">
                    <a :href="repo.owner.html_url" target="_blank" class="commit">
                        <img class="repo_item_img" v-if="repo.owner" :src="repo.owner.avatar_url" alt="owner">
                        {{repo.owner.login}}
                    </a>
                </span>

                <span class="repo_item_col">{{ repo.forks }}</span>

                <span class="repo_item_col">{{ repo.open_issues_count }}</span>

<!--                <pre style="max-width: 100%; max-height: 200px; overflow: auto; box-shadow: 0 0 2px 2px #eee" >{{ repo }}</pre>-->
            </li>
        </ol>
    </div>
</div>
</body>
<script src="index.js"></script>
</html>
